@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


/* Layout
------------------------------*/
html,body, #home{
    height: 100%;
    overflow-x: hidden;
}

body{
    background: #2e3333;
    font-family: Arial, Helvetica, sans-serif;
}


/*Barra de Navegação
--------------------------------*/

.navbar-light .nav-item .nav-link{
    color: #000;
    font-weight: 900;
}

.navbar-light .nav-item .nav-link:hover{
    color: #fff;
    font-weight: 900;
    font-size: 1.2em;
}

.navbar-light .navbar-toggler{
    color: #2e3333;
    background-color: #000;
    border: 3px solid #000;    
}

/*Barra de Navegação Fim
--------------------------------*/

/*Home Inicio
------------------------------*/

#home{
    background: url(../img/01.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#home .capa{
    text-align: center;
}


#home .btn-custom{
    border-radius: 500px;
    margin: 4px;    
    border: none;
    font-weight: 900;
    width: 200px;
}

#home .btn-custom:hover{
    background-color: #2e3333;
    color: #000;
}

#home .carousel-control-prev, .carousel-control-next{
    width: 10%;
    color: black;
    font-weight: 900;    
}

#home .carousel-control-prev, .carousel-control-next:hover{
    width: 10%;
    color: #000;
    font-weight: 900;  
}

/*Home Inicio Fim
------------------------------*/


/*Player Inicio
-----------------------------------------------------------*/

#player{
    background: #2e3333 url(../img/logo.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
}
.mp3 {
    width: 300px;
    height: 300px;
    margin-left: -5px;
    margin-top: 10px;      
}

audio {
    width: 300px;
    margin-top: 10px;
    background-color: white;
    margin-left: -14px;   
}

#player img {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    border: 1px solid white;
    margin-left: -5px;
}

#player .box-player{            
    margin: 5px;
}

#player li {
    width: 298px;
    border-bottom: solid 2px #ccc;
    font-size: 20px;       
    padding-top: 5px; 
}


#player .container {
    width: 330px;
    background-color: black;
    height: 750px;
    margin-top: 120px;
    margin-bottom: 20px;
}

#player ul {
    list-style: none;
    text-align: left;
    margin-left: -53px;   
}


#player a {
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;            
}

#player a:hover{
    color: #2e3333;
    font-weight: 900;
    text-decoration: none;
}

#player .active a {
    color: #800;
    font-weight: 900;
    text-decoration: none;
}

#player .active a:hover{
    color: #2e3333;
    font-weight: 900;
    text-decoration: none;
}

/*Player fim
-----------------------------------------------------------/*

/*Membros Inicio
===================================================*/

#membros{
    padding-top: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.membros{
    background: #000;
    box-shadow: 3px 3px 2px #000;
    margin-bottom: 50px;
}


#membros img{
    width: 100%;
    height: 480px;    
    padding: 50px;
}

#membros h1{
    color: #fff;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: 'Permanent Marker', cursive;
    margin-top: -45px;
    text-shadow: 2px 2px 1px #2e3333;
}

/*Membros fim
===================================================*/



/*Footer Inicio
---------------------------------------------------------------*/

footer{
    background: #000;
    padding: 50px 0 20px 0;
    position: relative;
}

footer h4{
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 900;
}

footer .navbar-nav a{
    color: #fff;
    font-size: 0.8em;
}

footer .navbar-nav a:hover{
    color: #2e3333;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 900;
}


footer .rodape{
    background: #212529;
    height: 100px;
    padding-top: 30px;
    margin-top: 20px;
    margin-bottom: -30px;
    color: #000;
    font-weight: 900;
}

footer .rodape h5{
    font-size: 13px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

footer .rodape h6{
    font-size: 12px;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
}

footer h6 .link{
    color: black;
    text-shadow: none;
    font-style:italic;
    font-weight: bold;
}

/*Footer Inicio
---------------------------------------------------------------*/


/*Media queries 
------------------------------------*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

    #home{
        background: url(../img/bg-face.jpg);
        background-size: 300%;
        background-repeat: no-repeat;
    }

    h1{
        font-size: 2em;
    }

    #recursos .row .rotate{
       display: none;
    }

    #player{
        background: url(../img/bg-face.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center ;

    }

    .mp3 {
        width: 250px;
        height: 250px;    
    }

    audio {
        width: 250px; 
    }

    #player img {
        width: 250px;
        height: 250px;
    }

    #player .box-player{            
        width: 320px;
    }

    #player li {
        width: 248px;
        border-bottom: solid 2px #ccc;
        font-size: 15px;       
        padding-top: 3px;  
    }

    #player .container {
        width: 278px;
        background-color: black;
        height: 585px;
        margin-top: 120px;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }    

    footer .rodape{
        background: #2e3333;
        height: 120px;
        padding-top: 30px;
        margin-top: 20px;
        margin-bottom: -30px;
    }

    footer .rodape h5{
        font-size: 13px;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
    }

    footer .rodape h6{
        font-size: 12px;
        color: #fff;
        text-shadow: 1px 1px 2px #000;
    }

    footer h6 .link{
        color: black;
        text-shadow: none;
        font-style:italic;
        font-weight: bold;
    }
    
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
   
    h1{
        font-size: 3em;
    } 


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    h1{
        font-size: 4em;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    h1{
        font-size: 5em;
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    h1{
        font-size: 6em;
    }
}

}
